<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Records</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{resistration.eid}}</td>
                <td>{{registration.ename}}</td>
                <td>{{registration.email}}</td>
                <td>{{registration.ephone}}</td>
                <td>
                    <a href="/edit/{{registration.id}}">Edit</a>
                    <a href="/delete/{{registration.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color: #fffefe;" href="/emp">Add New Record</a></button>

</body>
</html>